nav,
.nav {
    color: white;
    background: linear-gradient(navy, orange);
}

main,
.main {
    background: linear-gradient(pink, skyblue, pink);
}

.banner {
    width: 100%;
    height: auto;
}

.btn1 {
    color: black;
    background-color: white;
}

.btn2 {
    color: black;
    background-color: white;
}

footer,
.footer {
    background: linear-gradient(to top, navy, coral);
    color: white;
}

.flashy-text {
    color: white;
    /*animation: blink-animation 8s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;*/
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}